<div class="modal fade" id="modalForm" data-bs-backdrop="static" data-bs-keyboard="true" tabindex="-1" aria-labelledby="modalFormLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="modalFormLabel">Login</h1>
                <button type="button" class="modal-close btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="modalLoginForm" method="POST">
                    {{ form|crispy }}
                    {% csrf_token %}
                </form>
            </div>
        </div>
    </div>
</div>
