{% extends 'base.html' %}
{% load static %}
{% block title %}
    Profile - {{ profile.user.username }}
{% endblock %}

{% block content %}
    <div class="container p-4">
        <div class="profile">
            <div class="info">
                <div class="profile-img text-center">
                    <img class="card-img-top w-50" src="{% static 'icons/profile-placeholder.webp' %}" alt="placeholder image" />
                </div>
                <h1>{{ profile.user.username }}</h1>
                <p>
                    <strong>Joined:</strong>{{ profile.user.date_joined|date:'d M Y' }}
                </p>
                <p>
                    <strong>Posts commented on:</strong>
                </p>
                <hr />
                <ul>
                    {% for post in commented_posts %}
                        <li>
                            <strong><a href="{% url 'post_detail_by_slug' post.slug %}" class="author-link">{{ post.title }}</a></strong>
                        </li>
                    {% empty %}
                        Hasn't commented on any posts yet.
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
{% endblock %}
