{% load static %}

<header>
    {% with url_name=request.resolver_match.url_name %}
        <nav class="navbar navbar-expand-lg border-bottom border-body">
            <div class="container-fluid">
                <!-- Logo -->
                <a class="navbar-brand" href="{% url 'home' %}"><img src="{% static 'images/logo/logo-transp.webp' %}" alt="LVLUP Lore Logo" class="logo" /></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <!-- Navigation Items -->
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto">
                        <li class="nav-item">
                            <a class="nav-link {% if url_name == 'home' %}active{% endif %}" aria-current="page" href="{% url 'home' %}">Home</a>
                        </li>
                        {% if request.user.is_authenticated %}
                            <li class="nav-item">
                                <a class="nav-link {% if url_name == 'profile' %}active{% endif %}" href="{% url 'profile' request.user.id %}">Profile</a>
                            </li>
                            {% if request.user.is_staff %}
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Admin</a>
                                    <ul class="dropdown-menu">
                                        <li>
                                            <a class="dropdown-item" href="{% url 'post_create' %}">Create Post</a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item" href="{% url 'draft_posts' %}">Post Drafts</a>
                                        </li>
                                        <li>
                                            <hr class="dropdown-divider" />
                                        </li>
                                        <li>
                                            <a class="dropdown-item" href="{% url 'contact_messages' %}">Contact Messages</a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item" href="/admin">Admin Panel</a>
                                        </li>
                                    </ul>
                                </li>
                            {% endif %}
                            <li class="nav-item">
                                <a class="nav-link {% if url_name == 'contact' %}active{% endif %}" href="{% url 'contact' %}">Contact Us</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link {% if url_name == 'accounts_logout' %}active{% endif %}" href="/accounts/logout/">Logout</a>
                            </li>
                        {% else %}
                            <li class="nav-item">
                                <a class="nav-link {% if url_name == 'accounts_signup' %}active{% endif %}" href="/accounts/signup/">Register</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link {% if url_name == 'accounts_login' %}active{% endif %}" href="/accounts/login/">Login</a>
                            </li>
                        {% endif %}
                    </ul>
                    <!-- Form for searchbar -->
                    {% include 'includes/search_form.html' %}
                </div>
            </div>
        </nav>
    {% endwith %}
</header>
