{% extends 'base.html' %}

{% load static %}

{% block title %}
    Home
{% endblock %}
{% block content %}
    <div class="container.fluid d-flex flex-row flex-wrap justify-content-evenly mt-3">
        {% for post in post_list %}
            <div class="text-center mb-4">
                <div class="card" style="width: 18rem;">
                    <img src="{{ post.image.url }}" class="card-img-top" alt="{{ post.image_alt }}" />
                    <div class="card-body">
                        <h5 class="card-title">{{ post.title }}</h5>
                        <p>by {{ post.author|title }}</p>
                        <p class="card-text">
                            <strong>{{ post.excerpt|safe }}</strong>
                        </p>
                        <a href="#" class="btn btn-success mb-3">Read more</a>
                        <p>{{ post.created_on }}</p>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
