{% extends 'base.html' %}

{% load static %}

{% block title %}
    Home
{% endblock %}
{% block content %}
    <div class="container fluid text-center d-flex flex-column mt-5">
        <h1 class="container-home-title">Latest Posts</h1>
        <div class="container d-flex flex-row flex-wrap justify-content-center mt-3">
            {% for post in posts %}
                <div class="text-center mb-4">
                    <div class="card m-3">
                        <a href="{% url 'post_detail' post.slug %}"><img src="{{ post.image.url }}" class="card-img-top" alt="{{ post.image_alt }}" /></a>
                        <div class="card-body">
                            <a href="{% url 'post_detail' post.slug %}"><h2 class="card-title">{{ post.title }}</h2></a>
                            <p class="card-text">
                                <strong>{{ post.excerpt|safe|truncatechars:100 }}</strong>
                            </p>
                            <hr />
                            <p>
                                by <strong><a href="{% url 'profile' post.author.pk %}" class="author-link">{{ post.author|title }}</a></strong>
                            </p>
                            <p>
                                <strong>Post created:&nbsp;</strong>{{ post.created_on|date:'d M Y' }}
                            </p>
                            <div class="row">
                                <div class="col-3 mb-3">
                                    <strong class="text-secondary"><i class="far fa-comments"></i> {{ post.comment_count }}</strong>
                                </div>
                            </div>
                            {% if request.user.is_authenticated and request.user.is_staff %}
                                <a href="{% url 'post_edit' post.slug %}" class="btn btn-success mb-2 mt-2">Edit</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
                {% if forloop.counter|divisibleby:3 %}

                {% endif %}
            {% endfor %}
        </div>
    </div>
    {% if is_paginated %}
        <nav aria-label="Page navigation">
            <ul class="pagination justify-content-center">
                {% if page_obj.has_previous %}
                    <li>
                        <a href="?page={{ page_obj.previous_number }}" class="page-link">&laquo; PREV</a>
                    </li>
                {% endif %}
                {% if page_obj.has_next %}
                    <li>
                        <a href="?page={{ page_obj.next_page_number }}" class="page-link">NEXT &raquo;</a>
                    </li>
                {% endif %}
            </ul>
        </nav>
    {% endif %}
{% endblock %}
