{% extends 'base.html' %}
{% load custom_filters %}

{% block title %}
    Home
{% endblock %}

{% block content %}
    <div class="container fluid text-center d-flex flex-column mt-5">
        <div class="container d-flex flex-row flex-wrap justify-content-center mt-3">
            {% if posts %}
                {% for post in posts %}
                    <div class="text-center mb-4 ps-2 pe-2">
                        <div class="card m-3">
                            <a href="{% url 'post_detail_by_slug' post.slug %}"><img src="{{ post.image.url }}" class="card-img-top" alt="{{ post.image_alt }}" /></a>
                            <div class="card-body">
                                <a href="{% url 'post_detail_by_slug' post.slug %}"><h2 class="card-title mb-3">{{ post.title }}</h2></a>
                                <p class="card-text">
                                    <strong>{{ post.excerpt|safe|truncatechars:100 }}</strong>
                                </p>
                                <hr />
                                <div class="d-flex flex-row justify-content-between">
                                    <p class="text-start ms-3">
                                        By <strong><a href="{% url 'profile' post.author.pk %}" class="general-link">{{ post.author|title }}</a></strong>
                                    </p>
                                    <p>
                                        {% if not post.published_date %}
                                            Created on (Not Published): {{ post.created_on|custom_timesince }}
                                        {% else %}
                                            {{ post.published_date|custom_timesince }}
                                        {% endif %}
                                    </p>
                                    <div class="col-3 mb-3 text-end me-3">
                                        <strong class="text-secondary"><i class="far fa-comments"></i> {{ post.comment_count }}</strong>
                                    </div>
                                </div>
                                {% if request.user.is_authenticated and request.user.is_staff %}
                                    <a href="{% url 'post_edit' post.slug %}" class="btn btn-success mb-1 mt-3">Edit</a>
                                    <button type="button" class="btn btn-danger me-3 ms-3 mb-3" data-bs-toggle="modal" data-bs-target="#modalConfirm" data-bs-title="Remove Post" data-bs-body="Are you sure you want to remove this post?" data-bs-confirm="Confirm" data-bs-url="{% url 'post_delete' post.slug post.pk %}">Delete</button>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    {% if forloop.counter|divisibleby:3 %}

                    {% endif %}
                {% endfor %}
            {% else %}
                <h2 class="text-center">Search not found</h2>
            {% endif %}
        </div>
    </div>
    {% if is_paginated %}
        <nav aria-label="Page navigation">
            <ul class="pagination justify-content-center">
                {% if page_obj.has_previous %}
                    <li>
                        <a href="?page={{ page_obj.previous_number }}" class="btn btn-outline-success">&laquo; PREV</a>
                    </li>
                {% endif %}
                {% if page_obj.has_next %}
                    <li>
                        <a href="?page={{ page_obj.next_page_number }}" class="btn btn-outline-success">NEXT &raquo;</a>
                    </li>
                {% endif %}
            </ul>
        </nav>
    {% endif %}
{% endblock %}
{% block extra_js %}

{% endblock %}
